@import url("https://fonts.googleapis.com/css?family=Aleo");

* {
  box-sizing: border-box;
}

body {
  font: 16px/1.5em Aleo, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  background: #ffffff;
  color: #111;
  margin: 0 0 3.5em;
  padding: 1em;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.5em 0;
}

select {
  font: 18px/1.5em Aleo, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  margin: 0 0.5rem;
}

select::-ms-expand {
  display: none; /* remove default arrow in IE 10 and 11 */
}

a {
  color: #111;
}

a:hover {
  color: #456886;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  max-width: 640px;
}

li.restaurant li {
  line-height: 1rem;
  padding: 0.25em 0;
  display: flex;
  flex: 1;
  background-image: radial-gradient(rgba(0, 0, 0, 0.2) 1px, rgba(0, 0, 0, 0) 0px);
  background-size: 8px 8px;
  background-repeat: repeat-x;
  background-position: 0 0.75rem;
}

li.restaurant li span {
  background: white;
  display: inline;
  padding-right: 0.2rem;
}

h3 {
  font-size: 1.5rem;
  text-align: center;
  color: #456886;
  margin: 1.5em 0 0.5em 0;
  padding-bottom: 0.25em;
}

footer {
  opacity: 0.5;
  text-align: center;
  margin-top: 1rem;
}

footer > * {
  display: block;
  margin-top: 0.25em;
}
