body {
  font-size: 15px;
}

.section.top {
  background: #333 url("header-compressed.jpg");
  background-size: cover;
  background-position-y: bottom;
  padding: 3rem 2rem 2rem;
}

.section.top .title {
  font-size: 2.5rem;
}

.section.top .title a {
  color: white;
  text-shadow: 0 0.1rem 0.25rem rgba(54, 54, 54, 0.75);
}

.section.top .buttons {
  display: flex;
  justify-content: center;
}

.section.top .buttons .button {
  font-size: 14px;
  box-shadow: 0 0.1rem 0.25rem rgba(54, 54, 54, 0.75);
}

.section.main {
  padding: 1rem;
}

.section.main .content ul {
  list-style: none;
  margin: 0.25rem;
}

.section.main .content h2.restaurant-name {
  margin: 0.5rem 0;
  padding: 0.25rem;
  border-bottom: 1px solid rgba(54, 54, 54, 0.25);
}
