@import url("https://fonts.googleapis.com/css?family=Abel");

* {
  box-sizing: border-box;
}

body {
  font: 16px/1.5em Abel, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  background: #ffffff;
  color: #111;
  margin: 0 0 3.5em;
  padding: 1em;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.5em 0;
}

select {
  font: 18px/1.5em Abel, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  margin: 0 0.5rem;
}

select::-ms-expand {
  display: none; /* remove default arrow in IE 10 and 11 */
}

a {
  color: #111;
}

a:hover {
  color: #456886;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  max-width: 640px;
}

li.restaurant li {
  line-height: 1rem;
  padding: 0.25em 0;
}

h3 {
  text-transform: uppercase;
  font-size: 1.5rem;
  color: #456886;
  margin: 1rem 0 0.25rem 0;
  padding-bottom: 0.25em;
  border-bottom: 1px solid #456886;
}

footer {
  opacity: 0.5;
  text-align: center;
  margin-top: 1rem;
}

footer > * {
  display: block;
  margin-top: 0.25em;
}
